name: Build-Scan-Push-Deploy (Cloud Runner)

on:
  push:
    branches: [ main ]

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Build
    - name: Build Docker image
      run: |
        docker build \
          -t ghcr.io/${{ github.repository_owner }}/devsecops-app:latest \
          -f app/Dockerfile \
          app/


    # Scan
    - name: Scan image with Trivy
      uses: aquasecurity/trivy-action@0.19.0
      with:
        image-ref: ghcr.io/${{ github.repository_owner }}/devsecops-app:latest
        severity: CRITICAL,HIGH
        ignore-unfixed: true
        exit-code: '0'

    # Push
    - name: Login to GHCR
      run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: docker push ghcr.io/${{ github.repository_owner }}/devsecops-app:latest

    # Deploy
    - name: Install kubectl
      uses: azure/setup-kubectl@v3

    - name: Load kubeconfig (ngrok)
      run: |
        echo "${{ secrets.KUBECONFIG_NGROK }}" | base64 --decode > kubeconfig
        export KUBECONFIG=$PWD/kubeconfig

    - name: Deploy to Minikube (via ngrok)
      run: |
        export KUBECONFIG=$PWD/kubeconfig
        kubectl apply -f k8s/

    - name: Wait for rollout
      run: |
        export KUBECONFIG=$PWD/kubeconfig
        kubectl rollout status deployment/devsecops-app
